uploadimg {

  .row {
    height: 10rem;
    .col a {
      padding: 0 0 5px 5px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2em;
      height: 100%;
    }
    img {
      height: 100%;
      max-height: calc(10rem - 32px);
    }
    &>a {
      height: 60px;
      width: 60px;
      line-height: 8px;
      text-align: center;
      font-size: 2.5rem;
      color: rgba(0, 0, 0, .2);
      border: 1px solid rgba(0, 0, 0, .1);
      .count {
        font-size: 14px;
      }
    }
  }
}
