page-login {
  .content {
    background: linear-gradient(to bottom, color($colors, primary) 0%, color($colors, primary) 20%, #fff 31%, #fff 100%);
  }
  .banner {
    height: 30.5vh;
    background-color: color($colors, primary);
    background-image: url(../assets/images/cloud.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
  }

  ion-grid {
    background-color: #fff;
  }


  .app-name {
    width: 100%;
    text-align: center;
    padding: 0;
    color: #fff;
    font-size: 3.2rem;
    transition: opacity .5s;
    will-change: opacity;
    opacity: 1;
    &.fadeout {
      opacity: 0; // transition: opacity .3s;
    }
  }
  form {
    //width: 100%;
    background: #fff;
    transform: translate3d(0, -1px, 0);
  }
  submiton {
    display: block;
    width: 100%;
  }

  .item {
    z-index: 10;
    .label {
      .icon {
        font-size: 1.8em;
      }
    }
  }
  .forgot {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
  } // .fadeout~rocket .loader {
  //   top: 7vh;
  //   transition: top .5s;
  // }
}

.platform-android page-login .fadeout~rocket .loader {
  top: 7vh;
  transition: top .5s;
}
