<!-- Generated template for the SubmitonComponent component -->
<!-- <button ion-button block (tap)="onTap()" [ngClass]="{'processing':state=='processing','success':state=='success'}">
  <ion-icon item-left name="checkmark"></ion-icon> <span class="text"> [disabled]="state===undefined"{{text}}</span></button> -->
<button ion-button block (touch)="onTap()" type="submit" [disabled]="state===undefined">
  <ion-spinner color="white" *ngIf="state;else bubbles"></ion-spinner>
  <ng-template #bubbles>
    <ng-content></ng-content>
  </ng-template>
</button>
