<!--
  Generated template for the RechargePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>充值学贝</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group margin-top>
    <ion-item>
      <span item-left>当前余额</span>
      <span item-end><coin></coin>学贝</span>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <p class="break">选择或输入学贝 （<span primary>1元=10学贝</span>)</p>
    <ion-item>
      <ion-label>充值学贝</ion-label>
      <ion-input placeholder="选择或输入金额" [(ngModel)]="amount" maxlength="10000" max="10000" min="10" type="number"></ion-input>
      <ion-note item-right>学贝</ion-note>
    </ion-item>
    <ion-row justify-content-between line-bottom class="amount-buttons">
      <a *ngFor='let item of options' [class.checked]="amount==item" (click)="tap(item)" [attr.disabled]="need>item?'':null"><i *ngIf="need==item">所需</i><span>{{item}}</span>/{{item/10}}元</a>
    </ion-row>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-toolbar no-border no-padding color="white">
    <payment [options]="{ ordertype: 'coin', selectxbz: amount, amount: amount }" [amount]="amount" [min]="10"></payment>
  </ion-toolbar>
</ion-footer>
