page-reply {
  @extend page-doctor;
  .topics loading .row {
    height: auto;
  }
  .slides,
  .swiper-wrapper {
    height: 200px;
    max-height: 200px;
  }
  .swiper loading .row {}
  .sub-header {
    iscroll {
      max-height: 40px;
      transition: max-height .3s .2s;
    }
    &.inactive iscroll {
      max-height: 0;
      transition: max-height .3s .1s;
    }
  }
  .fab ion-icon {
    font-size: 4.6rem;
  }

  .footer {

    .toolbar-content {
      background: #ffbe40;
      padding: 16px 16px 0 16px;
    }
  }
  .lantern {
    p {
      a {
        color: #fff;
        font-size: 2rem;
      }
      padding-top: 3px;
      &:first-child {
        font-size: 1.6rem;
      }
      &:last-child {
        font-size: 1.5rem;
      }
    }
    position: absolute;
    top: 43px;
    z-index: 99;
    text-align: center;
    background: #ffbe40;
    padding: 12px;
    .lantern-card {
      padding: 16px 0;
      border-radius: 4px;
      background: #fff;
    }
  }
  .enter-lantern,
  .lantern.leave-active-lantern {
    opacity: .2;
    top: 100vh;
    transition: all .38s;
  }
  .lantern.enter-active-lantern,
  .leave-lantern {
    opacity: 1;
    top: 43px;
    transition: all .38s;
  }

  .enter-footer,
  .footer.leave-active-footer {
    opacity: 0;
    transition: opacity .3s;
  }
  .footer.enter-active-footer,
  .leave-footer {
    opacity: 1;
    transition: opacity .3s;
  }
}
