<!--
  Generated template for the LostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>选择科目</ion-title>
    <ion-buttons end>
      <button ion-button [navPush]="pages.lostOrders">订单</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [class.padding]="checkedsCount">
  <ng-template [ngIf]="losts" [ngIfElse]="loading">
    <ion-card *ngFor="let item of losts" [ngSwitch]="!!item.echeckeds">
      <div [attr.name]="item.name">
        <span class="name">{{item.name}}</span>
        <div class="mess" *ngSwitchCase="false">
          {{item.name}}共有<span primary>{{item.count}}</span>次考试，如需定制本科错题本，请点击下方“申请定制”选择需要定制的内容</div>
        <div class="mess" *ngSwitchCase="true">
          您共选择了<span primary>{{item.echeckeds}}</span>次考试，<span primary>{{item.icheckeds}}</span>道错题
          <ng-container *ngIf="item.promote">，匹配了<span primary>{{item.promote}}</span>道练习题</ng-container>
          <br>共计
          <currency [value]="item.money"></currency>
        </div>
      </div>
      <!-- <a (click)="print(item)">{{item.echeckeds?'修改':'申请打印'}}</a> -->
      <!-- <p text-center padding-12> -->
      <!-- <button ion-button (click)="print(item)" clear> -->
      <ng-container *ngIf="!item.processing;else processing;">
        <a *ngSwitchCase="false" (click)="print(item)" class="card-footer">申请定制</a>
        <a *ngSwitchCase="true" (click)="print(item)" class="card-footer">修 改</a>
      </ng-container>
      <ng-template #processing>
        <p text-center padding-12>
          <ion-spinner color="primary"></ion-spinner>
          <span> 正在计算价格...</span>
        </p>
      </ng-template>
      <!-- </p> -->
    </ion-card>
  </ng-template>
  <ng-template #loading>
    <loading [status]="losts"></loading>
  </ng-template>
</ion-content>
<transition name="footer" [if]="!!amount">
  <ion-footer no-border>
    <ion-toolbar color="transparent" no-padding>
      <ion-row confirm padding-left>
        <ion-col col-8 no-padding>
          总计
          <currency [value]="amount"></currency>
        </ion-col>
        <a (click)="dopay()" [attr.disabled]="payDisabled?'':null">确认定制</a>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</transition>
