page-lostorder {
  .item {
    &:after {
      content: '';
      width: 0.55px;
      height: 100%;
      background-color: color($colors, primary);
      position: absolute;
      left: 33px;
      z-index: 1;
    }
    ion-avatar {
      position: relative;
      z-index: 99;
      .icon {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
        background-color: color($colors, primary);
        font-size: 2.5rem;
      }
    }
    p {
      color: color($colors, text);
      font-size: 1.5rem;
      white-space: normal;
    }
    .item-inner {
      position: relative;
    }
  }
}
