page-report {
  .tip {
    height: 40px;
    line-height: 40px;
    background: rgba(#fff, 0.85);
    text-align: center;
  }
  .slides {
    iscroll {
      height: 100%;
    } //height: calc(100% - 146px);
    scroll-header iscroll {
      height: 43px;
      .row {
        border: none;
        font-size: 1.4rem;
      }
    }
    h6 {
      font-weight: 400;
    }
  }

  .swiper-slide {
    font-size: inherit;
    .slide-zoom {
      height: 100%;
    }
  }


  .card {
    position: relative;
    .card-header {
      padding-bottom: 10px;
    }
    padding-bottom: 16px;
    &.score-card {
      &>.row {
        padding: 5px 0;
        margin: 0 16px;
        border-left: 0.55px solid rgba(0, 0, 0, .15);
        border-right: 0.55px solid rgba(0, 0, 0, .15);
        font-size: 1.6rem;
        &:last-child {
          &:after {
            @extend .border-bottom;
          }
        }
      }
      .score-item {
        .col {
          text-align: center;
          align-self: center;
          &:first-child {}
          .icon {
            margin-right: 5px;
            font-size: 1.8em; //background: #FFEB3B;
            padding: 5px;
            border-radius: 50%;
            color: #fff;
            vertical-align: -0.1em;
          }
        }
        p {
          text-align: left;
          padding-left: 26px;
          color: color($colors, gray9);
          span {
            padding: 2px 5px;
            background: #f66e4f;
            color: #fff;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .rank-list {
    $color: #7cb5ec;
    padding-top: 10px;
    .rank-item {
      font-size: 1.6rem;
      line-height: 36px;
      padding: 7px 0;
      height: 50px;
      span {
        color: #fff;
        background: $color;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: inline-block;
        float: left;
        text-align: center;
        margin-top: -4px;
        line-height: 45px;
      }
      div {
        padding-right: 45px;
        margin-left: 23px;
        height: 100%; //margin: 8px 0 8px 24px;
        background: rgba($color, 0.4);
        text-align: center; //height: 34px; //width: calc(100% - 60px);
      }
      &[self] {
        span {
          background: color($colors, primary);
        }
        div {
          background: rgba(color($colors, primary), 0.4);
        }
      }
    }
  }
  .ion-ios-star-outline {
    background: #f56d4e;
  }
  .ion-ios-ichinese {
    background: #ff8820;
  }
  .ion-ios-imath {
    background: #04b8d9;
  }
  .ion-ios-ienglish {
    background: #b564ef;
  }
  .ion-ios-ibulb {
    background: #7788f2;
  }
  .ion-ios-ichemistry {
    background: #3ad1a4;
  }
  .ion-ios-ibiology {
    background: #ffc001;
  }
  .ion-ios-ipolitics {
    background: #d74ce8;
  }
  .ion-ios-ihistory {
    background: #3ac8d1;
  }
  .ion-ios-igeography {
    background: #54adff;
  }
  .ion-ios-iscience {
    background: #5872f8;
  }
  .ion-ios-iliterature {
    background: #ff5454;
  }
  .ion-ios-icustom {
    background: #f56d4e;
  }
  .ion-ios-iother {
    background: #54adff;
  }



  .card-modal {
    // align-items: center;
    z-index: 5; // top: 48px;
    top: 0;
    bottom: 0;
    left: 0;
    height: 90px;
    margin: auto;
    right: 0;
    position: absolute; // height: calc(100% - 48px);
    // width: 100%; //background: rgba(255, 255, 255, .85);
    &~ion-backdrop {
      @extend .blur;
      top: 48px;
      background: #fff;
      opacity: .93;
      filter: blur(15px);
      height: calc(100% - 48px);
      z-index: 3;
    }
    p {
      .button {
        padding: 0 3.6rem;
        box-shadow: 0 5px 5px rgba(color($colors, primary), .45);
      }
    }
  }
}
