
<ion-header>

  <ion-navbar>
    <ion-title>系统消息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
   <div class="block" *ngFor="let v of messagedate">
     <ion-row  line-top margin-top padding-horizontal-10 justify-content-between>
       <ion-col text-left>
         <i class="block-unread-circle" [ngClass]="{'block-read-circle': switch ? switch : v.state}"></i>
         系统通知
       </ion-col>
       <ion-col text-right ion-text color="gray9">{{v.createdtime}}</ion-col>
     </ion-row>
     <div class="block-content" padding-horizontal padding-bottom-12 >
          <h6 no-margin padding-bottom-12 padding-top>{{v.title}}</h6>
          <p class="paragraph">
            {{v.content}}
            <span class="ellipsis" *ngIf="v.content.length > 27">...</span>
          </p>
     </div>
     <button ion-item (click)="message(v.state,v.guid)">查看详情</button>
   </div>
</ion-content>
