page-agreement {
  .content {
    background: #fff;
  }
  p {
    text-indent: 2em;
    text-align: justify;
    font-size: 1.5rem;
  }
  .sub {
    text-indent: 2.5em;
  }
  .ssub {
    text-indent: 3em;
  }
}
