<!--
  Generated template for the AgreementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>服务协议</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding margin-top-12>
   <ion-list no-padding *ngIf=" type === 'user' " >
    <h3 text-center>七天网络用户协议</h3>
    <p>用户在使用七天网络“扫描阅卷查分”平台（以下简称“本平台”）前，应当仔细阅读《七天网络用户协议》（以下简称“本协议”）的全部内容。用户在七天网络网站注册页面点击“同意以上协议并注册”按钮后，即视为您已阅读、理解并同意本协议的全部内容，本协议即在您与本平台的运营公司安徽七天教育科技有限公司（以下简称“七天科技”）之间产生法律效力，成为对双方均具有约束力的法律文件。</p>
    <h6>一、用户注册</h6>
    <p>1.1  本平台的直接用户为学校，学校在签约了本平台服务后，该校教师即可通过本平台实现网上阅卷，教师账号不需单独注册，七天科技将根据和学校签署的《七天网络服务协议》，为教师自动生成账号及初始密码。</p>
    <p>1.2  本平台的间接客户为家长，学校在签约了本平台服务后，学生家长可通过手机注册的形式登陆网站，享受本平台为家长提供的成绩单、错题本和分析报告等服务。本平台提供的个性化服务系收费项目，家长可根据个人情况酌情自愿、自主购买，此收费与学校方无关。</p>
    <p>1.3  注册用户应该保证注册信息的准确性，对由于注册信息的不准确导致的老师无法阅卷，家长无法登录等问题，七天科技不承担任何责任。</p>
    <p>1.4  注册用户应妥善保存账户密码，教师对七天科技提供的初始密码须及时更改，对因密码保存不善，造成的平台无法使用，数据丢失，系统错误，七天科技不承担任何责任。</p>
    <h6> 二、服务内容</h6>
    <p>2.1  本平台为学校提供网上阅卷服务，通过本平台，学校实现考试的客观题系统判分，主观题人工阅卷，自动统计数据等功能。</p>
    <p>2.2  本平台为学校提供与考试相关的各种报表。</p>
    <p>2.3  本平台为学校提供跨区域学校间联考联阅服务。</p>
    <p>2.4  本平台为学生家长提供学生成绩查询分析服务。</p>
    <p>2.5  本平台为学生家长提供的其他个性化增值服务。</p>
    <h6>三、隐私声明</h6>
    <p>3.1  保护用户信息的私密性是七天科技的一贯制度，七天科技将采取技术措施和其他必要措施，确保用户信息的安全，防止在本平台收集的用户信息泄露、毁损或丢失。</p>
    <p>3.2  七天科技未经用户同意不向任何第三方公布，透漏用户的数据信息，但以下三种情况除外：</p>
    <p class="sub">3.2.1  七天科技根据法律法规规定向相关部门提供用户的个人信息；</p>
    <p class="sub">3.2.2  由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何数据及个人信息的泄漏，或其他非因七天科技原因导致的个人隐私信息的泄露；</p>
    <p class="sub">3.2.3  任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。</p>
    <h6>四、知识产权声明</h6>
    <p>4.1  本平台在服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归七天科技所有。</p>
    <p>4.2  除另有特别声明外，本平台提供服务时所依托软件的著作权、专利权及其他知识产权均归七天科技所有。</p>
    <p>4.3  学校在使用本平台阅卷时，七天科技将自动获得试卷及答题卷的使用权利，但该使用权利仅限于教学目的。</p>
    <p>4.4  家长（学生）在使用本平台查阅答题卷，分数及相关报表时，七天科技相应的将获得考生的答题卷使用权利，该权利仅限于教学目的使用。</p>
    <p>4.4  上述及其他任何七天科技或相关广告商依法拥有的知识产权均受到法律保护，未经七天科技或相关广告商书面许可，用户不得以任何形式进行使用或创造相关衍生作品。</p>
    <h6>五、免责声明</h6>
    <p>5.1  由于您将用户密码告知他人或与他人共享帐户，由此导致的任何个人信息及数据的泄漏，或其他非因七天科技原因导致的个人信息的泄漏，七天科技不承担任何法律责任；</p>
    <p>5.2  本平台所有用户考试数据为根据用户所在学校教师线上阅卷结果生成，七天科技对于学生成绩的准确性不作校验，本平台根据和学校达成的《七天网络服务协议》发布考试成绩，因考试数据产生的任何后果与七天科技无关。</p>
    <p>5.3  七天阅卷平台提供用户考试成绩发布，考试数据分析等是七天科技根据和校方签署的《七天阅卷平台服务协议》经校方合法授权行为。用户一旦在七天阅卷平台上注册并接受本用户协议，应被视为不可撤销的许可七天阅卷平台以教学为目的使用其答卷提供本平台的服务。</p>
    <p>5.4  用户应保证其在本平台上的行为不违反中国的法律法规或其主管单位的相关规定，对于用户在本平台上作出的违法违规行为，七天科技不承担任何法律责任。</p>
    <p>5.5  在使用本平台的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，七天科技将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户或第三方造成的损失，七天科技及合作单位在法律允许的范围内免责。</p>
    <h6>六、服务的中断和终止</h6>
    <p>6.1  本平台与学校间的服务以《七天网络服务协议》为准，如协议到期后，双方未续签协议，则服务自动终止。</p>
    <p>6.2  本平台与学校间的服务终止后，其为家长提供的服务也相应终止，付费家长可按相应服务时间，申请退费。</p>
    <p>6.3  为维护本平台的正常运行，以向用户提供持续、稳定、安全、顺畅的服务，但用户理解并同意：七天科技对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。七天科技将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小。</p>
    <h6>七、法律管辖和适用</h6>
    <p>7.1   本服务协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。</p>
    <p>7.2   如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，则争议各方均一致同意将争议提交北京仲裁委员会仲裁解决。仲裁地点为北京。仲裁语言为中文。仲裁裁决为终局，对各方均有法律约束力。</p>
    <p>7.3   本协议条款的最终解释权在七天科技。</p>
  </ion-list>
  <!--协议分割线-->
  <ion-list no-padding *ngIf=" type === 'payment' ">
    <h3 text-center>VIP会员增值服务使用协议</h3>
	  <p>为使用七天教育的增值服务（简称为：本服务），您应当阅读并遵守《vip会员增值服务使用协议》（简称为：本协议）。请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。免除或限制责任条款可能以加粗形式提示您注意。</p>
    <p> 除非您已阅读并接受本协议所有条款，否则您无权使用本服务。您对本服务的任何购买或接受赠与等获取行为及登录、查看等任何使用行为即视为您已认真阅读并完全同意本协议的所有条款内容和规则要求。</p>
    <h6>1 定义</h6>
  <p>1.1 VIP会员增值服务”/“本服务”：是用户按照七天教育的指定方式支付一定增值服务费用之后，用户可以享有由七天教育或第三方提供的特权的服务。七天教育可能会根据不同的产品及服务类型，推出不同的会员服务，同时，七天教育也可能会根据用户的需求、产品及服务类型的变化等，对现有会员服务种类进行调整以及不断推出新的会员服务种类。七天教育也可能会在不同时间推出不同的服务内容，以不断完善、优化本服务；</p>
  <p>1.2“学贝”：指由七天教育推出的一种费用折算单位，您可使用学贝兑换本服务中七天教育向您提供的本服务的各项收费部分或用于支付相关授权费用。您可在“七天网络”微信公众号的引导下以充值方式获取学贝，除此之外，您还可通过七天教育不时推出的多种方式获取学贝，包括但不限于通过邀请注册、签到、参与七天教育组织的活动、官方赠送等方式获取。学贝与人民币的折算比例为：1元RMB = 10学贝；</p>
  <p>1.3“您”或“用户”：指使用本服务的用户，包括自然人用户以及非自然人用户（包括任何具备或不具备法人主体资格的机构或组织），且仅限用户在阅读并接受本协议及七天教育在线服务系列协议的全部条款后方可使用本服务；</p>
  <p>1.4 七天教育：仅指“安徽七天教育科技有限公司”。</p>
    <h6>2 协议范围</h6>
    <p>本协议是您与七天教育之间关于您使用本服务所订立的协议。</p>
    <h6>3 服务费用</h6>
   <p>您应知悉并认可，如您使用的本服务中的收费服务是由七天教育向您提供的，您应向七天教育支付对应的服务费用。</p>
    <p>3.1 收费模式包含：</p>
  <p class="sub">3.1.1 学情套餐式服务，用户通过购买学情套餐，可以享受到全部大多种打包服务，如：各类排名、错题本、视频推送、练习推送、评语等；</p>
  <p class="sub">3.1.2 单独向您提供某项具体的子服务，并制定收费标准向您收取费用（例如“视频推送”、“练习推送”、“优秀答题推荐服务”等），本协议称此类子服务为单独收费子服务；</p>
  <p class="sub">3.1.3 未来可能添加的其他模式。您应知悉并认可，每类收费模式仅为七天教育依据本服务提供情况针对本服务的部分内容所制定并采用，您按照某类收费模式所向七天教育支付对应费用后仅可获得七天教育所明示提供的对应部分的本服务，并非有权获得本服务的其他部分或全部。</p>
    <p >3.2 您向七天教育支付的服务费用以人民币或七天教育推出的计费单位“学贝”计费，支付渠道包括目前已开通的微信支付、支付宝支付、网银支付等其他支付渠道；</p>
    <p >3.3 七天教育可能根据实际运营情况对由其提供的收费服务的服务费用的收费模式、收费标准、方式进行修改和变更，七天教育也可能会对由其提供的目前为免费使用的服务开始收费。前述修改、变更或开始收费前，七天教育将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该部分服务；</p>
    <p >3.4 学贝表现为数据增值服务的预付金额等形式。用于购买本服务使用，您须在按照本服务的学贝消耗标准支付相应学贝后，方可使用本服务。此外，您也可以使用学贝购买七天教育平台内的套餐服务方式享有、使用本服务。</p>
    <h6>4 权利义务</h6>
    <p>4.1 关于本服务：<p>
     <p class="sub">七天教育可能会根据本服务的整体规划，对本服务的学贝收取标准、方式等进行修改和变更，前述修改、变更，七天教育将在相应服务页面进行提醒或展示。您若需要获取、使用本服务，请先提前了解清楚当时关于本服务的学贝收取标准、方式等信息，</p>
  <p>4.2 本服务不可进行转让、交易：</p>
  <p class="sub">4.2.1 以营利、经营等非个人使用的目的为自己或他人开通本服务；</p>
  <p class="sub">4.2.2 通过任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件等任何程序、软件方式为自己或他人开通本服务；</p>
  <p class="sub">4.2.3 通过任何不正当手段或以违反诚实信用原则的方式为自己或他人开通本服务；</p>
  <p class="sub">4.2.4 通过非七天教育指定的方式为自己或他人开通本服务；</p>
  <p class="sub">4.2.5 通过侵犯七天教育或他人合法权益的方式为自己或他人开通本服务；</p>
  <p class="sub">4.2.6 通过其他违反相关法律、行政法规、国家政策等的方式为自己或他人开通本服务。</p>
    <p>4.3 行为规范：</p>
    <p class="sub">4.3.1 五不准：</p>
   <p class="ssub">4.3.1.1 您在使用本服务时不得利用本服务从事以下行为，包括但不限于：</p>
   <p class="ssub">4.3.1.2 发布、传送、传播、储存违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及侮辱、诽谤、淫秽、暴力的内容；</p>
   <p class="ssub">4.3.1.3 发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</p>
   <p class="ssub">4.3.1.4 虚构事实、隐瞒真相以误导、欺骗他人；</p>
   <p class="ssub">4.3.1.5 发表、传送、传播广告信息及垃圾信息；</p>
   <p class="ssub">4.3.1.6 从事其他违反法律法规、政策及公序良俗、社会公德等的行为。</p>
    <p class="sub">4.3.2 用户禁止行为：</p>
   <p class="ssub">4.3.2.1 本服务仅供您个人使用，除非经七天教育书面许可，您不得进行以下行为：</p>
   <p class="ssub">4.3.2.2 通过任何方式搜集本服务中其他用户的用户名、电子邮件等相关信息，并以发送垃圾邮件、连锁邮件、垃圾短信、即时消息等方式干扰、骚扰其他用户；</p>
   <p class="ssub">4.3.2.3 通过本服务发布包含广告、宣传、促销等内容的信息；</p>
   <p class="ssub">4.3.2.4 未经七天教育事先书面同意，您不得将本服务再次许可他人使用；不得使用七天教育的名义进行任何以营利为目的的商业活动或任何可能对七天教育的品牌造成不利影响的活动；</p>
   <p class="ssub"> 4.3.2.5 其他未经七天教育书面许可的行为。</p>
    <p class="sub"> 4.3.3 对自己行为负责：</p>
   <p class="ssub"> 您充分了解并同意，您必须为自己帐号下的一切行为负责，包括但不限于您所发表的任何内容以及由此产生的任何后果。您应对本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。</p>
    <p class="sub">4.3.4 服务的变更、中止或终止：</p>
    <p class="ssub"> 您充分了解并同意，由于互联网服务的特殊性，七天教育可能会按照相关法规、双方约定或在其他必要时，中止或终止向您提供本服务，届时，七天教育会依法保护您的合法权益。</p>
    <h6>5 违约责任</h6>
   <p>5.1如果七天教育发现或收到他人举报您有违反本协议任何行为的，七天教育有权依法进行独立判断并采取技术手段予以删除、屏蔽或断开相关的信息。同时，七天教育有权视您的行为性质，对您采取包括但不限于暂停或终止部分或全部本服务、中止或终止您对账号的使用、追究您法律责任等措施，七天教育也无需向您退还任何费用，而由此给您带来的损失（包括但不限于通信中断、相关数据清空、未使用的服务费用作为违约金而归七天教育所有等），由您自行承担，造成七天教育损失的，您也应予以赔偿；</p>
   <p>5.2对第三方损害的处理：您有违反本协议任何行为，导致任何第三方损害的，您应当独立承担责任；七天教育因此遭受损失的，您也应当一并赔偿。</p>
    <h6>6 免费条款</h6>
   <p>6.1不可抗力：不可抗力是指本协议双方不能合理控制、不可预见或即使预见亦无法避免的事件，包 括但不限于政府行为、地震、台风、洪水、火灾或其它天灾、战争或任何其它类似事件；</p>
   <p>6.2 鉴于互联网之特殊性质，不可抗力亦包括但不限于下列影响互联网正常运行之情形：</p>
   <p class="sub">6.2.1 黑客攻击；</p>
   <p class="sub">6.2.2 电信部门技术调整导致之重大影响；</p>
   <p class="sub">6.2.3 因政府管制而造成之暂时关闭；</p>
   <p class="sub">6.2.4 病毒侵袭；</p>
   <p class="sub">6.2.5 网站升级系统停机维护或通讯终端、电信设备出现故障导致无法进行数据传输；</p>
   <p class="sub">6.2.6 其他非因双方原因导致互联网无法正常运行、服务中断或延迟之情形。</p>
    <h6>7 附则</h6>
   <p>7.1 协议的生效：您使用本服务即视为您已慎重阅读、同意且自愿受本协议的约束，并接受增值服务是属于商业服务，而非属于行政行为；</p>
   <p>7.2 协议签订地：本协议签订地为中华人民共和国安徽省合肥市新站区；</p>
   <p>7.3 适用法律：本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）；</p>
   <p>7.4 争议解决：若您和七天教育之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖；</p>
   <p>7.5 条款标题：本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据；</p>
   <p>7.6 条款效力：本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
  </ion-list>
</ion-content>
