page-feedback {
  .content-inner {
    position: relative;
    margin: 16px 0;
    background: #fff;
    &:after {
      @extend .border-bottom;
    }
    &:before {
      @extend .border-top;
    }
    ion-textarea {
      font-size: 1.6rem;
      text-align: right;
      &:after {
        content: attr(length)'/'attr(max);
        color: color($colors, gray9);
        padding: 0 16px;
        position: relative;
        top: -16px;
        font-size: 1.2rem;
      }
    }
    .text-input {
      text-align: left;
      padding: 16px 16px 0 16px;
      width: 100%;
      margin: 0;
    }
    .line {
      position: relative;
      &:before {
        width: calc(100% - 32px);
        margin: 0 16px;
        @extend .border-top;
      }
    }
  }
  .pics{
    position: fixed;
    top:0;
    left: 0;
    z-index:10000;
    bottom: 0;
    right: 0;
    margin: auto auto;
    width: 100%;
  }
}
