<!--
  Generated template for the CouponPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>我的优惠券</ion-title>
    <ion-buttons *ngIf="showButton" end>
      <button ion-button clear (touch)="save()" event="copon_enter">确定</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-row class="coupon-search">
    <ion-col col-9 no-padding>
      <input type="text" placeholder="请输入优惠码" [(ngModel)]="codes">
    </ion-col>
    <a (touch)="search()" col-3 event="copon_search">添加</a>
  </ion-row>
  <ng-template [ngIf]="coupons" [ngIfElse]="loading">
    <ion-list>
      <ion-card *ngFor="let v of coupons;let i=index;" [class.expire]="v.expired" [attr.checked]="v.couponCode==checked">
        <ion-row padding-vertical class="coupon-content" align-items-center (touch)="setChecked(v.couponCode)" [ngSwitch]="v.couponType>0" event="coupon_picker">
          <ion-col col-4 *ngSwitchCase="true"><span>{{ v.money }}</span><i class="normal" [class.expired]="v.expired">元</i>
          </ion-col>
          <ion-col col-4 *ngSwitchCase="false"><span>{{ v.rate*10 }}</span><i class="normal" [class.expired]="v.expired">折</i>
          </ion-col>
          <ion-col class="row" justify-content-between>
            <span>{{ v.couponName }}
          <br>适用范围：{{ v.range }}
          <br>通过活动获得
        </span>
            <ion-icon name='checkmark-circle-outline' color="white"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="coupon-date" padding-horizontal nowrap [ngSwitch]="!!v.expired">
          <ion-col text-left col-7>有效期至{{ v.expiredtime}}</ion-col>
          <ion-col text-right primary *ngSwitchCase="false">{{ v.days }}天后过期</ion-col>
          <ion-col text-right ion-text *ngSwitchCase="true" class='expired'>已过期</ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="coupons.length<total">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <ng-template #loading>
    <loading [status]="coupons" height="70vh"></loading>
  </ng-template>
</ion-content>
