page-coupon {
  .coupon-search{
    padding:14px 12px 0 12px;
    input[type='text']{
      border: none;
      outline: none;
      width: 81%;
      padding: 8px 0 8px 16px;
      border-radius: 4px 0 0 4px;
      float: left;
    }
    .button{
      width: 19%;
      border:none;
      height: 33px;
      line-height: 33px;
      color: white;
      text-align: center;
      background-color: color($colors,primary);
      border-radius: 0 4px 4px 0;
      outline: none;
      float: left;
    }
    &:after{
      content: '';
      display: block;
      height: 0;
      clear: both;
    }
  }
  .searchbar-ios{
    border: none;
    background: white;
  }
  .card {
    // background: url(../assets/images/coupon.png) center center no-repeat;
    // background-size: 100%;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1.4rem;
    &.expire {
      background: #dedede;
      &:first-child {
        color: color($colors, text) !important;
      }
    }
  }
  .coupon-content {
    .col {
       text-align: left;
       line-height: 1.6rem;
      &:first-child {
        text-align: center;
        color: color($colors, primary);
        span {
          font-size: 5rem;
        }
      }
      &:last-child {
        font-size: 1.1rem;
      }
    }
  }

  .coupon-date {
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 20px;
      width: 20px;
      background: $background-color;
      border-radius: 20px;
      top: 0;
    }
    &:before {
      left: 0;
      transform: translate(-50%, -50%);
      box-shadow: -8px 0 4px -6px transparentize(color($colors, gray6), 0.75) inset;
    }

    &:after {
      right: 0;
      transform: translate(50%, -50%);
      box-shadow: 8px 0 4px -6px transparentize(color($colors, gray6), 0.75) inset;
    }
    .col {
      padding: 10px 0 10px 0;
      border-top: 0.55px dotted rgba(0, 0, 0, .2);
    }
  }
  .expired{
    color: color($colors,text);
  }
  .normal{
    font-style: normal;
  }
}
