<!--
  Generated template for the ExamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>成绩分析</ion-title>
  </ion-navbar>
</ion-header>
<ion-content hook>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <loading [status]="latest" *ngIf="!latest;else entry" [mess]="unclaimed?'您有未认领考试，请先完成认领，我们再为您匹配数据':' 您没有任何考试信息，请去核实考试信息'"></loading>
  <ng-template #entry>
    <div class="banner" *ngIf="waterball">
      <h3>{{latest.name}}</h3>
      <p ion-text color="gray9">发布时间：{{latest.time}}</p>
      <echarts-ng2 [option]="waterball" [style]="{'height': '210px'}"></echarts-ng2>
      <ion-row justify-content-between>
        <ion-col col-6>
          <button ion-button outline block [navPush]='pages.report' [navParams]="latest">学情报告</button>
        </ion-col>
        <ion-col col-6 [ngSwitch]="!!latest.payment">
          <button *ngSwitchCase="true" ion-button outline block color="green" [navPush]='pages.doctor' [navParams]="latest">错题诊断</button>
          <button *ngSwitchCase="false" ion-button outline block color="green" (click)="toReply(latest)">答题情况</button>
        </ion-col>
      </ion-row>
    </div>
    <ion-list no-lines *ngIf="exams.length">
      <ion-card *ngFor="let exam of exams">
        <ion-item class="card-header" no-lines>
          <ion-label>{{exam.name}}</ion-label>
          <span item-right *ngIf="exam.payment">已生成</span>
        </ion-item>
        <ion-row nowrap justify-content-start class="desc">
          <ion-col col-auto text-left>
            <ion-icon name="time-outline"></ion-icon> 发布时间：{{exam.time}}</ion-col>
        </ion-row>
        <ion-row [ngSwitch]="!!exam.payment" padding-vertical-8 split-line>
          <a [navPush]='pages.report' [navParams]="exam">学情报告</a>
          <a *ngSwitchCase="true" [navPush]='pages.doctor' [navParams]="exam" ion-text color="green">错题诊断</a>
          <a *ngSwitchCase="false" (click)="toReply(exam)" ion-text color="green">答题情况</a>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="exams.length<total-1">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>
