  // http://ionicframework.com/docs/theming/
  // App Global Sass
  // --------------------------------------------------
  // Put style rules here that you want to apply globally. These
  // styles are for the entire app and not just one component.
  // Additionally, this file can be also used as an entry point
  // to import other Sass files to be included in the output CSS.
  //
  // Shared Sass variables, which can be used to adjust Ionic's
  // default Sass variables, belong in "theme/variables.scss".
  //
  // To declare rules for a specific mode, create a child rule
  // for the .md, .ios, or .wp mode classes. The mode class is
  // automatically applied to the <body> element in the app.
  // --------------------------------------------------
  //colorful icon style
  * {
    padding: 0;
    margin: 0;
  }

  ion-app {
    color: color($colors, text);
  }

  [colorful] {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 3rem;
  }

  [primary] {
    color: color($colors, primary) !important;
  }

  span[primary] {
    padding: 0 5px;
  }

  .content ion-footer {
    position: fixed;
  }

  .footer .toolbar:first-child .toolbar-background {
    border: none;
  }

  .toolbar-background-ios {
    -webkit-backdrop-filter: blur(15px);
  }

  .blur {
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .85);
  } // a.activated,
  a:active,
  [interactive]:active {
    opacity: .4;
  }

  .header .toolbar:last-child:not([border]) .toolbar-background {
    border: none !important;
  }
  /* border style */

  .border-top {
    height: 0.55px;
    content: '';
    width: 100%; // border-bottom: 1px solid rgba(color($colors, gray6), .8);
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0px;
    transform: scaleY(0.35); // z-index: 10;
  }


  .border-bottom {
    height: 0.55px;
    content: '';
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    top: calc(100% - 1px);
    transform: scaleY(0.35); // z-index: 10;
  }


  .tabbar,
  [line-top] {
    border-top: none !important;
    &:before {
      @extend .border-top;
    }
  }

  .list-header-ios,
  [line-bottom] {
    border-bottom: none !important;
    &:after {
      @extend .border-bottom;
    }
  }

  [line-top],
  [line-bottom] {
    position: relative;
  }

  .item.item-block:not([no-lines]) .item-inner {
    border-bottom: none !important;
    &:after {
      @extend .border-bottom;
      width: calc(100% - 32px);
      margin: 0 16px;
    }
  }

  ion-list .item.item-block:last-child .item-inner,
  .group .item.item-block:last-child .item-inner,
  ion-item-group .item.item-block:last-child .item-inner {
    &:after {
      content: none;
    }
  }


  .item {
    color: color($colors, text);
    .input-wrapper>ion-label[fixed] {
      flex: 0 0 80px;
      width: 80px;
      min-width: 80px;
      max-width: 200px;
    }
  }

  .break {
    padding: 12px 16px 10px 16px;
    color: color($colors, gray9);
    font-size: 1.5rem;
    background: $background-color;
  }

  .footer .row[confirm] {
    position: relative;
    &:before {
      @extend .border-top;
    }
    white-space: nowrap;
    background: #fff;
    height: 48px;
    font-size: 1.6rem;
    line-height: 38px;
    ion-col {
      align-self: center; //padding-left: 0;
      color: color($colors, gray6);
      &:first-child {
        text-align: left;
      }
    }
    a {
      background: color($colors, primary);
      color: rgba(#fff, .7);
    }
  }

  .agreement {
    font-size: 1.3rem;
    .checkbox {
      margin: 8px 4px 8px 0px !important;
      .checkbox-icon {
        border-color: color($colors, primary);
        border-radius: 3px;
        transform: scale(.7);
        background-color: transparent;
        &.checkbox-checked {
          background-color: color($colors, primary);
        }
      }
    }
  }

  a {
    text-decoration: none !important;
  }

  .row>a {
    //transition: background-color, opacity, border-color 100ms linear;
    text-align: center;
    padding: 5px;
    position: relative; // width: 100%;
    margin: 0;
    min-height: 1px; //flex-basis: 0;
    flex-grow: 1; // max-width: 100%;
  }

  .col {
    text-align: center;
  }
  /*
  // --------------------------------------------------
  //icon bounce*/

  @keyframes icon-bounce {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }

    50% {
      transform: rotate(-15deg);
    }

    75% {

      transform: rotate(5deg);
    }

    85% {

      transform: rotate(-5deg);
    }
  } // .activated .tab-button-icon:before {
  //   animation: icon-bounce 0.5s alternate;
  // }
  /* // --------------------------------------------------
  //address picker*/

  .picker-ios {
    .picker-opt {
      font-size: 1.6rem;
      color: color($colors, text);
    }
    .picker-below-highlight {
      top: 120px;
      border-top: none !important;
      &:after {
        @extend .border-top;
      }
    }
    .picker-above-highlight {
      height: 91px;
      border-bottom: none !important;
      &:after {
        @extend .border-bottom;
      }
    }
    .picker-toolbar {
      border-bottom: none !important;
      &:after {
        @extend .border-bottom;
      }
    }
    .picker-opts-right {
      .picker-opt {
        padding-left: 16px;
      }
    }
    .picker-opts-left {
      .picker-opt {
        padding-right: 16px;
      }
    }
  }
  /*
  //override segment style*/

  .segment-md .segment-button {
    border-bottom-color: rgba(#fff, .85);
    opacity: 1;
    background-color: rgba(#fff, .85);
    &.segment-activated {
      border-color: color($colors, primary) !important;
      color: color($colors, primary) !important;
    }
  }
  /**
  *loading style
  */

  .row[loading] {
    height: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    color: darken($background-color, 25%);
    font-size: 3em;
    .spinner-ios-bubbles circle,
    .spinner-md-bubbles circle {
      fill: darken($background-color, 25%);
    }
  }
  /**
  *loading style
  */

  // leave animate add by leo 20171102
  // /
  .leave-block,
  .leave-active-block {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    animation: leave 1s;
    max-height: 0;
  }

  @keyframes leave {
    0% {
      max-height: 100vh;
      opacity: 1;
      transform: translateX(20%);
    }
    80% {
      max-height: 100vh;
      opacity: .8;
      transform: translateX(-100%);
    }
    100% {
      max-height: 0;
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  /**
  */

  // padding margin 10, 12 add by leo 20171019
  //
  [padding-vertical-12] {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  [padding-horizontal-12] {
    padding-left: 12px;
    padding-right: 12px;
  }

  [padding-top-12] {
    padding-top: 12px;
  }

  [padding-bottom-12] {
    padding-bottom: 12px;
  }

  [padding-left-12] {
    padding-left: 12px;
  }

  [padding-right-12] {
    padding-right: 12px;
  }

  [padding-12] {
    padding: 12px;
  }


  [margin-vertical-12] {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  [margin-horizontal-12] {
    margin-left: 12px;
    margin-right: 12px;
  }

  [margin-top-12] {
    margin-top: 12px;
  }

  [margin-bottom-12] {
    margin-bottom: 12px;
  }

  [margin-left-12] {
    margin-left: 12px;
  }

  [margin-right-12] {
    margin-right: 12px;
  }

  [margin-12] {
    margin: 12px;
  }


  [padding-vertical-10] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  [padding-horizontal-10] {
    padding-left: 10px;
    padding-right: 10px;
  }

  [padding-top-10] {
    padding-top: 10px;
  }

  [padding-bottom-10] {
    padding-bottom: 10px;
  }

  [padding-left-10] {
    padding-left: 10px;
  }

  [padding-right-10] {
    padding-right: 10px;
  }

  [padding-10] {
    padding: 10px;
  }


  [margin-vertical-10] {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  [margin-horizontal-10] {
    margin-left: 10px;
    margin-right: 10px;
  }

  [margin-top-10] {
    margin-top: 10px;
  }

  [margin-bottom-10] {
    margin-bottom: 10px;
  }

  [margin-left-10] {
    margin-left: 10px;
  }

  [margin-right-10] {
    margin-right: 10px;
  }

  [margin-10] {
    margin: 10px;
  }
