<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
  <ion-navbar>
    <ion-title>{{exam.name}}</ion-title>
    <ion-buttons end *ngIf="showNavButton">
      <button ion-button [navPush]='pages.report' [navParams]="exam" event="doctor_goReport">
        学情报告
      </button>
    </ion-buttons>
  </ion-navbar>
  <div *ngIf="balls.length>1||stickTopicHeader" [class.transformY-45]="stickTopicHeader&&balls.length>1" class="sub-header" box-shadow>
    <scroll-header [items]="balls" [(selected)]="subjectIndex" (selectedChange)="onChanged($event)" *ngIf="balls.length>1" line-bottom></scroll-header>
    <ion-row class="topics-header" *ngIf="stickTopicHeader">
      <a event="doctor_showAll" col-2 class="fixed-button" (touch)="subjects[subjectIndex].showAll=!subjects[subjectIndex].showAll" *ngIf="subjects[subjectIndex].diff">{{subjects[subjectIndex].showAll?'错题':'全部'}}</a>
      <ion-col no-padding>
        <scroll-header [items]="subjects[subjectIndex].nos" [(selected)]="subjects[subjectIndex].categoryIndex" (selectedChange)="topic($event)"></scroll-header>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<ion-content #content [fullscreen]="true" (ionScroll)="scrollHandler($event)" padding-bottom>
  <loading [status]="unloading" *ngIf="!unloading;else entry"></loading>
  <ng-template #entry>
    <ion-slides #subjectSlider (ionSlideDidChange)="onSlideChanged($event)" class="subejct-slider">
      <ion-slide *ngFor="let ball of balls;let i =index">
        <loading [status]="subjects[i]" *ngIf="!subjects[i];else entryContent" height="80vh"></loading>
        <ng-template #entryContent>
          <div class="card origin">
            <ion-row class="card-header" justify-content-between>
              <ion-col col-5 text-left><i></i>原始试卷和答案</ion-col>
            </ion-row>
            <img-lazy event="doctor_paperViewer" [src]='subjects[i].thumbnail' [imgviewer]="{title:exam.name+subjects[i].name,images:subjects[i].paper}"></img-lazy>
          </div>
          <div class="card percents" *ngIf='subjects[i]?.percents'>
            <ion-row class="card-header" justify-content-between>
              <ion-col col-4 text-left><i></i>小题得分情况</ion-col>
              <ion-col *ngFor="let le of legend" text-right><i></i>{{le}}</ion-col>
            </ion-row>
            <div class="card-content">
              <echart [option]='subjects[i]?.percents'></echart>
            </div>
            <ion-row class="card-footer">
              <a (touch)="openPercentModal()" event="doctor_openPercentModal">查看更多</a>
            </ion-row>
          </div>
        </ng-template>
      </ion-slide>
    </ion-slides>
    <!-- </div> -->
    <div class="topics" *ngIf="subjects[subjectIndex]?.name&&subjects[subjectIndex].category?.length">
      <ion-row class="topics-header" line-bottom *ngIf="!stickTopicHeader">
        <a event="doctor_showAll" col-2 class="fixed-button" (touch)="subjects[subjectIndex].showAll=!subjects[subjectIndex].showAll" *ngIf="subjects[subjectIndex].diff">{{subjects[subjectIndex].showAll?'错题':'全部'}}</a>
        <ion-col no-padding>
          <scroll-header [items]="subjects[subjectIndex].nos" [(selected)]="subjects[subjectIndex].categoryIndex" (selectedChange)="topic($event)"></scroll-header>
        </ion-col>
      </ion-row>
      <div class="topics-content" *ngIf="subjects[subjectIndex].activity.full;else loadinga">
        <div class="topics-item">
          <div event="doctor_itemViewer" class="item-content" [imgviewer]="{title:subjects[subjectIndex].name+'第'+subjects[subjectIndex].activity.no+'题',images:subjects[subjectIndex].activity.paper}">
            <img-lazy [src]="url" *ngFor="let url of subjects[subjectIndex].activity.paper" [alt]="url"></img-lazy>
          </div>
          <p footer>
            满分：<span color="primary" ion-text>{{subjects[subjectIndex].activity.fullString}}</span>分&nbsp;&nbsp;&nbsp;我的得分：<span color="primary" ion-text>{{subjects[subjectIndex].activity.scoreString}}</span>分&nbsp;&nbsp;&nbsp;难度：<span color="primary" ion-text>{{subjects[subjectIndex].activity.levelString}}</span>
          </p>
          <p line-top footer *ngIf="subjects[subjectIndex].activity.objective&&subjects[subjectIndex].activity.reply?.length">
            我的答案：<span ion-text [color]="primary">{{subjects[subjectIndex].activity.replyString}}</span>&nbsp;
            <ion-icon [name]="subjects[subjectIndex].category[subjects[subjectIndex].categoryIndex].right?'checkmark':'close'"></ion-icon>&nbsp;&nbsp;&nbsp; 正确答案：
            <span>{{subjects[subjectIndex].activity.answerString}}</span>
          </p>
        </div>
        <div class="topics-item" *ngIf="!subjects[subjectIndex].activity.objective&&subjects[subjectIndex].activity.answer?.length">
          <p line-bottom ol>正确答案</p>
          <div class="item-content" event="doctor_answerViewer" [imgviewer]="{title:'正确答案',images:subjects[subjectIndex].activity.answer}">
            <ng-container *ngFor="let answer of subjects[subjectIndex].activity.answer">
              <img-lazy [src]="url" *ngFor="let url of answer.link||[answer.value]" [alt]="url"></img-lazy>
            </ng-container>
          </div>
        </div>
        <div class="topics-item" *ngIf="!subjects[subjectIndex].activity.objective&&subjects[subjectIndex].activity.reply?.length">
          <p line-bottom ol>我的答案</p>
          <div class="item-content" event="doctor_replyViewer" [imgviewer]="{title:'我的答案',images:subjects[subjectIndex].activity.reply}">
            <ng-container *ngFor="let reply of subjects[subjectIndex].activity.reply">
              <img-lazy [src]="url" *ngFor="let url of reply.link||[reply.value]" [alt]="url"></img-lazy>
            </ng-container>
          </div>
        </div>
        <div class="topics-item" *ngIf="subjects[subjectIndex].activity.topic&&subjects[subjectIndex].activity.topic!=''">
          <p line-bottom ol>知识点</p>
          <p footer>{{subjects[subjectIndex].activity.topic}}</p>
        </div>
        <div class="topics-item" *ngIf="subjects[subjectIndex].activity.resolve?.length">
          <p line-bottom ol>解析</p>
          <div class="item-content" event="doctor_resolveViewer" [imgviewer]="{title:'解析',images:subjects[subjectIndex].activity.resolve}">
            <img-lazy [src]="url" *ngFor="let url of subjects[subjectIndex].activity.resolve" [alt]="url"></img-lazy>
          </div>
        </div>
        <div class="topics-item" *ngFor="let exc of subjects[subjectIndex].activity.excellent;let i =index;">
          <p line-bottom class='p-button' ol><span *ngIf="subjects[subjectIndex].activity.excellent.length>1">第{{exc.no}}题</span>优秀答案
            <a (touch)="excellent(i)" float-right event="doctor_excellent">
              <ion-icon name="refresh"></ion-icon>&nbsp; 换一个
            </a>
          </p>
          <div class="item-content" event="doctor_excellentViewer" [imgviewer]="{title:'优秀答案',images:exc.value[subjects[subjectIndex].activity.excellentNums[i]]}">
            <img-lazy *ngFor="let img of exc.value[subjects[subjectIndex].activity.excellentNums[i]]" [src]="img" [alt]="img">
            </img-lazy>
          </div>
        </div>
        <div class="topics-item" *ngIf="subjects[subjectIndex].activity.analyse.length===1;else analyseSlider;">
          <p line-bottom text-left ol>小题统计</p>
          <echart [option]="subjects[subjectIndex].activity.analyse[0].options" style="height: 150px"></echart>
        </div>
        <ng-template #analyseSlider>
          <ion-slides spaceBetween="10" pager="true">
            <ion-slide *ngFor="let item of subjects[subjectIndex].activity.analyse;let y=index">
              <div class="topics-item">
                <p line-bottom text-left ol>{{item.no}}题统计</p>
                <echart [option]="item.options" style="height: 150px"></echart>
              </div>
            </ion-slide>
          </ion-slides>
        </ng-template>
      </div>
      <ng-template #loadinga>
        <loading [status]="subjects[subjectIndex].activity.full"></loading>
      </ng-template>
    </div>
  </ng-template>
</ion-content>
