img-lazy {
  text-align: center;
  display: block;
  width: 100%; // display: flex;
  // justify-content: center;
  .loader {
    width: 100%;
    height: 120px;
    line-height: 140px;
    background: rgba(235, 235, 235, 0.25);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    .icon {
      font-size: 2.5em
    }
    &.error {
      background-size: contain;
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMCUiIGlkPSJjb250ZW50LWxvZ28iIHZpZXdCb3g9IjUgNSA2NSA2MCIgd2lkdGg9IjEwMCUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgLjA2MWg2NmMxLjY4IDAgMyAxLjMyIDMgM3Y0My41NjNMNTcuNzE5IDMyLjM0MmMtLjM4LS4zNzYtMS4wNzQtLjM2LTEuNDM4LjAzMUw0MyA0Ni42MjNsLTIwLjI4MS0yMC4yOGExLjAyIDEuMDIgMCAwIDAtLjkzOC0uMjgyIDEuMDAzIDEuMDAzIDAgMCAwLS40NjguMjVMMCA0NS43OFYzLjA2YzAtMS42NzggMS4zMi0zIDMtM3YuMDAxem0zNSA5Yy00Ljk1OSAwLTkgNC4wNDEtOSA5czQuMDQxIDkgOSA5IDktNC4wNDEgOS05LTQuMDQxLTktOS05em0tMTYuMDMxIDIyTDQyLjI4IDUxLjM3M2MuMzguMzc3IDEuMDc0LjM2MiAxLjQzOC0uMDNMNTcgMzcuMDkybDE1IDE1djExLjU5M2MwIDEuNjgtMS4zMiAzLTMgM0gzYy0xLjY4IDAtMy0xLjMyLTMtM1Y1MS4xMjNsMjEuOTY5LTIwLjA2MnoiIGZpbGw9IiNFNkU2RTYiIGZpbGwtcnVsZT0ibm9uemVybyI+PC9wYXRoPjwvc3ZnPg==) no-repeat;
    }
  }
  img {
    max-width: 100%;
  }
}
