page-personal {
  // .picker-opt {
  //   padding-left: 1.6rem;
  //   font-size: 1.8rem;
  // }
  ion-item.item {
    // color: color($colors, gray9);
    .item-button {
      font-size: 1.5rem;
    }
    .button {
      .icon {
        font-size: 1.5em;
        margin-right: 16px;
      }
    }
  }
  .break {
    ion-icon {
      vertical-align: -0.04em;
      color: color($colors, primary);
    }
  }
  p.agreement {
    color: color($colors, gray9);
    padding: 16px;
  }
}
