page-news {
  .circle-blue {
    border-radius: 3rem;
    background-color: #4baaf3;
  }
  .circle-yellow {
    border-radius: 3rem;
    background-color: #f3aa4b;
  } // .relative {
  //   position: relative;
  //   left: .4rem;
  // }
  .relative-left {
    position: relative;
    left: .8rem;
  }
  ion-avatar {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
