  page-usercenter {
    .fixed-content {
      margin-top: 0 !important;
      background: color($colors, primary);
    }
    .has-refresher>.scroll-content {
      border-top-color: color($colors, primary);
    }
    .scroll-content {
      padding-top: 0 !important;
    } // .fixed-content {
    //   background: color($colors, primary); //background: linear-gradient(to bottom, color($colors, primary) 0%, color($colors, primary) 19%, $background-color 20%, $background-color 100%);
    // }
    .banner {
      padding: 16px;
      color: #fff;
      background: url(../assets/images/usercenter-bg.jpg); // height: 23.5vh;
      transform: translateY(-1px);
      background-size: contain;
      .avatar {
        background: #fff;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        margin: 10px auto;
        padding: 10px 0 0 0;
        text-align: center;
        img {
          max-height: 100%;
        }
        svg {
          position: absolute;
          width: 6.5rem;
          height: 6.5rem;
          top: 50%;
          left: 50%;
          transform: translate(3.25rem, 3.25rem);
        }
      }
      p {
        padding: 0 10%;
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
    ion-item-group {
      margin-top: 20px;
      .item-ios ion-icon[item-left],
      .item-ios ion-icon[item-right],
      .item-ios ion-icon[item-start],
      .item-ios ion-icon[item-end] {
        margin-top: 12px;
      }
    }

    [name=icopper] {
      color: #f98700;
    }

    [name=ipiggy] {
      color: #7a88f3;
    }

    [name=icoupon] {
      color: #ec6a63;
    }

    [name=itrade] {
      color: #ea6c4e;
    }

    [name=ichange] {
      color: #10aeff;
    }

    [name=lock-outline] {
      color: #1aadc9;
    }

    [name=isecurity] {
      color: #51ba96;
    }

    [name=ifeedback] {
      color: #78be54;
    }
    .refresher-pulling-icon,
    .refresher-refreshing-icon {
      color: #fff;
      line {
        stroke: #fff !important;
      }
    }
    @keyframes flash_t {
      0% {
        transform: translate(65px, 60.83px) scale(1, 1) translate(-65px, -109.83px);
      }
      66.6666% {
        transform: translate(65px, 60.83px) scale(0.5, 0.5) translate(-65px, -109.83px);
      }
      100% {
        transform: translate(65px, 60.83px) scale(1, 1) translate(-65px, -109.83px);
      }
    }

    @keyframes flash_o {
      0% {
        opacity: 0.8;
      }
      66.6667% {
        opacity: 1;
      }
      100% {
        opacity: 0.8;
      }
    }

    @keyframes shooter1_t {
      0% {
        transform: translate(250px, 11.6667px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      11.1111% {
        transform: translate(250px, 11.666667px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      16.6666% {
        transform: translate(229.500001px, 33.393334px) scale(1, 1) translate(-207.38px, -28.73px);
      }
      22.2222% {
        transform: translate(209.000002px, 55.120001px) scale(1, 1) translate(-207.38px, -28.73px);
      }
      100% {
        transform: translate(209px, 55.12px) scale(1, 1) translate(-207.38px, -28.73px);
      }
    }

    @keyframes shooter1_o {
      0% {
        opacity: 0;
      }
      11.1111% {
        opacity: 0;
      }
      16.6667% {
        opacity: 1;
      }
      22.2222% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes shooter1-2_t {
      0% {
        transform: translate(167.88px, -23.3333px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      44.4444% {
        transform: translate(167.88px, -23.333333px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      50% {
        transform: translate(131.529354px, 11.273333px) scale(1, 1) translate(-207.38px, -28.73px);
      }
      55.5555% {
        transform: translate(95.178708px, 45.88px) scale(1, 1) translate(-207.38px, -28.73px);
      }
      100% {
        transform: translate(95.1787px, 45.88px) scale(1, 1) translate(-207.38px, -28.73px);
      }
    }

    @keyframes shooter1-2_o {
      0% {
        opacity: 0;
      }
      44.4444% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      55.5556% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes shooter1-3_t {
      0% {
        transform: translate(222.667px, 0px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      88.8888% {
        transform: translate(222.666667px, 0px) scale(0, 0) translate(-207.38px, -28.73px);
      }
      94.4444% {
        transform: translate(195.833333px, 26.440001px) scale(1, 1) translate(-207.38px, -28.73px);
      }
      100% {
        transform: translate(169px, 52.880001px) scale(1, 1) translate(-207.38px, -28.73px);
      }
    }

    @keyframes shooter1-3_o {
      0% {
        opacity: 0;
      }
      88.8889% {
        opacity: 0;
      }
      92.2222% {
        opacity: 1;
      }
      96.6667% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
