page-claim {
  .item-inner::after {
    height: 0.55px;
    content: '';
    width: 100%;
    position: absolute;
    background: #ffffff;
    right: 0;
    top: calc(100% - 1px);
    transform: scaleY(0.35);
  }
  .list-ios>.item-block:last-child {
    border: none;
  }
  .list {
    margin-bottom: .5rem;
  }
  .unclaimed-month {
    display: inline-block;
    min-width: 10rem;
    height: 2.2rem;
    background-color: color($colors, primary);
    text-align: center;
    color: white;
    border-radius: 0 2rem 2rem 0;
    margin: 1rem 0;
    line-height: 2.4rem;
    overflow: visible;
  }
  .item {
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 32%;
      background-color: color($colors, primary);
      top: 0;
      position: absolute;
      left: 25px;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 32%;
      background-color: color($colors, primary);
      bottom: 0;
      position: absolute;
      left: 25px;
    }
    border: none;
    span {
      color: color($colors, primary);
    }
    h2 {
      color: color($colors, text);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
