<ion-header>
  <ion-navbar>
    <ion-title>认领考试</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <loading [status]="unclaimes" *ngIf="!unclaimes;else entry;"></loading>
  <ng-template #entry>
    <ion-list *ngFor="let item of unclaimes">
      <span class="unclaimed-month">{{item.time|date:'yyyy年M月'}}</span>
      <button ion-item class="unclaimed-date" *ngFor="let value of item.data" (click)="claim(value)">
        <span class="certain-date">{{value.day}}日</span>
        <h2>{{value.examname}}</h2>
      </button>
    </ion-list>
  </ng-template>
</ion-content>
