<ion-header >
  <ion-navbar>
    <ion-title>未认领考试</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
   <ion-list *ngFor="let v of unclaimedata">
      <span class="unclaimed-month">{{v.time}}</span>
       <button ion-item class="unclaimed-date" *ngFor="let value of v.data">
         <span class="certain-date">{{value.day}}日</span>
         <h2>{{value.examname}}</h2>
         <!--<p><span class="margin-right-20" ><ion-icon name="ipersonnal" class="padding-right-5"></ion-icon>考生数:1234</span><span><ion-icon name="ios-list-box-outline" class="padding-right-5"></ion-icon>科目:4</span></p>-->
       </button>
  </ion-list>
</ion-content>
