photosviewer {
  .toolbar-background {
    background: rgba(0, 0, 0, .1);
  }
  .content {
    background: #000;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  .loader p {
    color: #fff;
  }
}
