page-messageinfo {
 .share{
   font-size:2.5rem;
   margin-right: .5rem;
 }
 .arrange{
   margin-top:1.2rem;
   background-color: #fff;
   .arrange-title{
     font-size: 1.7rem;
     color: #414a60;
   }
   .arrange-sub-title{
     color:color($colors,gray9);
     font-size: 1.2rem;
   }
   .arrange-content{
     text-indent: 3rem;
     margin-top: 1rem;
     line-height: 1.8rem;
     padding: 0 16px 0 16px;
   }
 }


}

